<footer>
  <ul class="pages">
    <li>
      <a href="#">Về tác giả</a>
    </li>
    <li>
      <a href="#">Dữ liệu</a>
    </li>
    <li>
      <a href="#">Tham khảo</a>
    </li>
    <li>
      <a href="/rss/">RSS</a>
    </li>
  </ul>
  <p class="credit">
    Blog này được xây dựng dựa trên <a href="https://github.com/dongta195">Ghost</a> blog engine
  </p>
  <p class="credit">
    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
  </p>
</footer>
