@import "https://fonts.googleapis.com/css?family=Athiti:400,600|Source+Code+Pro:400,600&subset=vietnamese";
@import "https://use.fontawesome.com/releases/v5.6.3/css/all.css";
body {
  margin: 0 auto;
  padding: 0;
  font-family: athiti, sans-serif;
  color: #222;
  font-size: 12pt;
  font-weight: 400;
  background: #fdfdfd
}

a {
  color: inherit;
  text-decoration: none
}

.page-heading {
  font-size: 32pt;
  color: #505050;
  margin-top: 15px;
  margin-bottom: 30px
}

pre {
  padding: 15px;
  background: #f3f3f3
}

code {
  font-family: source code pro, monospace;
  border-radius: 3px;
  font-size: .8em;
  background: #f3f3f3;
  font-weight: 400
}

.site {
  padding-top: 0;
  box-sizing: border-box
}

.site__content {
  max-width: 100%;
  margin: 0 auto;
  padding: 0
}

.essays,
.tag-page {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box
}

.separator {
  width: 400px;
  height: 2px;
  background-color: #e6e0cf;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px
}

@media screen and (max-width:600px) {
  .separator {
    width: 80%
  }
}

.browse-more {
  padding: 15px 0 0;
  box-sizing: border-box
}

.browse-more__item {
  border: 1px solid #d25801;
  padding: 10px 15px;
  margin-left: 0;
  margin-right: 10px;
  font-size: .9em;
  display: inline-block
}

.browse-more__item:hover {
  background: #e6e0cf
}

.browse-more a {
  color: #d25801
}

.pagination {
  margin-top: 30px;
  margin-bottom: 30px
}

.pagination .page-item {
  margin-left: 0;
  margin-right: 10px
}

.pagination a {
  color: #d25801
}

.sui-cao {
  font-size: 12pt;
  margin-top: 30px;
  line-height: 150%;
  text-align: center
}

.sui-cao a.sui-cao-button {
  color: #000!important;
  font-size: 13pt;
  background: #e6e0cf;
  display: inline-block;
  padding: 10px;
  border: 2px solid #222!important
}

.header {
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px
}

.header .site-name {
  color: #e86100;
  font-size: 24pt;
  margin-top: 0;
  margin-bottom: 15px
}

.header .avatar {
  margin-top: 0
}

.header .avatar a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  background-color: #e6e0cf
}

.header .avatar img {
  margin: 0 auto;
  float: left
}

.header .page-description {
  font-size: 12pt;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 150%;
  text-align: center;
  padding: 0 15px
}

.header__links {
  display: block;
  box-sizing: border-box;
  text-align: center
}

.header__link {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  margin: 0 15px;
  color: #666;
  font-size: .9em
}

.header__link i {
  font-size: 1.5em
}

.header--minimal {
  padding: 0;
  padding-top: 15px
}

.header--minimal .site-name {
  font-size: 1.5em;
  margin-top: 0
}

footer .pages {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 24pt;
  padding: 0
}

footer .pages li {
  display: inline-block;
  margin-left: 3pt;
  margin-right: 3pt
}

footer .pages a {
  font-size: 12pt
}

footer .credit {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 12pt;
  margin-bottom: 24pt;
  font-size: 10pt
}

footer .credit a {
  color: #d25801
}

.post {
  padding-top: 15px;
  padding-bottom: 15px
}

.post__metadata {
  margin-top: 15px;
  font-size: .8em
}

.post__creation-date {
  margin-right: 10px
}

.post__reading-time {
  margin-right: 10px
}

.post__title {
  margin-top: 0;
  margin-bottom: 0
}

.post__title a {
  color: #555;
  font-size: 1em;
  text-decoration: none;
  font-weight: 700
}

.post__title a:hover {
  color: #d25801
}

.post__badge {
  border-radius: 2px;
  white-space: nowrap;
  color: #826a55;
  background-color: #e6e0cf;
  font-size: .7em;
  padding: .25em .4em
}

.post__intro p {
  color: #505050;
  font-size: 1em;
  line-height: 150%
}

.post--detail {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12.5pt;
  box-sizing: border-box
}

.post--detail .post__header {
  margin-bottom: 45px;
  text-align: center
}

.post--detail .post__title {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 15px;
  color: #444
}

.post--detail .post__tagging {
  margin-top: 15px
}

.post--detail .post__tag {
  color: #d25801;
  font-size: 10pt;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
  text-transform: uppercase
}

.post--detail .post__tag:last-child {
  margin-right: 0
}

.post--detail .post__toc {
  background: #f0f0f0;
  padding: 15px 30px;
  max-width: 40%
}

.post--detail .post__toc h3.heading {
  color: #000;
  margin: 0;
  padding: 0;
  margin-bottom: 15px
}

.post--detail .post__toc ul {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.post--detail .post__toc ul li {
  margin: 0;
  padding: 3px 0
}

.post--detail .post__toc ul ul {
  margin-left: 30px
}

.post--detail .post__content {
  line-height: 150%;
  padding-top: 0
}

.post--detail .post__content h1,
.post--detail .post__content h2 {
  color: #d25801
}

.post--detail .post__content h1 {
  font-size: 1.5em
}

.post--detail .post__content h2 {
  font-size: 1.3em
}

.post--detail .post__content h3 {
  color: #07a;
  font-size: 1.1em
}

.post--detail .post__content p {
  font-size: 1em;
  line-height: 180%;
  text-align: justify
}

.post--detail .post__content ul {
  font-size: 1em;
  line-height: 180%
}

.post--detail .post__content code.inline {
  border-radius: 3px;
  font-size: .8em;
  padding: 5px 8px;
  font-weight: 400;
  color: #d25801;
  background: #f3f3f3
}

.post--detail .post__content a {
  color: #d25801;
  border-bottom: 1px dashed #d25801
}

.post--detail .post__content strong {
  font-weight: 700;
  color: #3d3d3d
}

.post--detail .post__content img {
  max-width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto
}

.post--detail .post__content pre {
  background: #f3f3f3
}

.post--detail .post__content blockquote {
  margin: 0;
  margin-bottom: 15px;
  padding: 15px;
  border-left: 3px solid #6f6f6f;
  background: #f3f3f3;
  font-size: .9em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px
}

.post--detail .post__content blockquote code.inline {
  background-color: #cec8b8
}

.post--detail .post__content blockquote p {
  margin: 0;
  padding: 0
}

.post--detail .post__content .book-quote {
  font-size: 1.5em;
  border-left: 3px solid #6f6f6f;
  margin-bottom: 15px;
  padding: 15px;
  font-weight: 700
}

.post--detail .post__content hr {
  margin: 15px 0;
  border: none;
  width: 100%;
  background: #6f6f6f;
  height: 1px
}

.post__login-buttons {
  display: none;
  text-align: center
}

.post__comment-headline-fun {
  font-size: 12pt;
  margin-bottom: 30px;
  text-align: center
}

.post__comment-headline {
  display: block;
  font-size: 14pt;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700;
  color: #d25801
}

.post__login-button {
  display: inline-block;
  border: 1px solid #222;
  padding: 10px 15px;
  margin-left: 0;
  font-size: 12pt;
  color: #222;
  margin-left: 15px;
  font-family: athiti, sans-serif;
  cursor: pointer
}

.post__comment-form {
  display: none;
  padding: 0 30px
}

.post__comment-form__holder {
  display: flex;
  flex-direction: row;
  align-items: center
}

.post__comment-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: #f0f0f0
}

.post__comment-info {
  display: block;
  width: 100%;
  padding-left: 15px;
  font-size: 10pt
}

.post__comment-avatar {
  flex-basis: 50px;
  width: 50px;
  height: 50px;
  margin-right: 15px
}

.post__comment-avatar img {
  width: 50px;
  height: 50px
}

.post__comment-input {
  flex: 1
}

.post__comment-input textarea {
  padding: 15px;
  font-size: 11pt;
  font-family: athiti, sans-serif;
  width: 100%;
  border: 1px solid #f0f0f0;
  resize: vertical
}

.post__comment-button {
  font-weight: 700;
  display: inline-block;
  border: 1px solid #505050;
  background-color: #505050;
  color: #fff;
  padding: 10px 15px;
  margin-left: 0;
  font-size: .9em;
  cursor: pointer;
  white-space: nowrap;
  font-family: athiti, sans-serif
}

.post__comment-button:hover,
.post__comment-button:disabled {
  background: #222
}

.post__comments-list {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 30px
}

.post__comment {
  display: flex;
  flex-direction: row
}

.post__comment__avatar {
  flex-basis: 50px;
  margin-right: 15px
}

.post__comment__avatar img {
  width: 50px;
  height: 50px
}

.post__comment__content {
  flex: 1;
  background-color: #f0f0f0;
  padding: 15px;
  margin-bottom: 15px;
  border-left: 3px solid #222;
  word-break: break-all;
  hyphens: auto
}

.post__comment__content img {
  max-width: 300px;
  max-height: 150px
}

.post__comment__header {
  margin-bottom: 15px;
  font-size: .8em
}

.post__comment__author {
  font-weight: 700
}

.post__comment__body {
  font-size: .9em
}

.post__comment__body a {
  color: #d25801;
  text-decoration: underline
}

.similar-posts {
  padding: 15px;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box
}

.similar-posts h2 {
  color: #d25801
}

.tagging {
  margin-right: 20px
}

.tagging__item {
  color: #d25801;
  font-size: 10pt;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
  text-transform: uppercase
}

.suggested-tags {
  background-color: #f0f0f0;
  padding: 15px;
  margin-top: 30px
}

.suggested-tags h3 {
  margin: 0;
  margin-bottom: 15px
}

.suggested-tags .tag {
  color: #07a;
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block
}

.suggested-tags .tag:before {
  content: "#"
}

.site--home {
  max-width: 800px;
  text-align: justify;
  padding: 0;
  margin: 0 auto;
  margin-top: 15px
}

.site--404 {
  max-width: 800px;
  text-align: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto
}

.site--404 .tim-quan-gi {
  font-size: 2em;
  color: #000;
  text-transform: uppercase;
  font-weight: 700
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: #383a42;
  background: #f3f3f3
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649
}

.hljs-literal {
  color: #0184bb
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801
}

.hljs-meta {
  color: #07a
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-selector-id,
.hljs-title {
  color: #4078f2
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}

.hljs-link {
  text-decoration: underline
}

i.emoji {
  display: inline-block;
  height: 1em;
  width: 1em
}

i.emoji img.emoji {
  display: inline;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -.1em
}
